<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>用户管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap.css}">
    <link rel="stylesheet" href="../jss/bootstrap/css/bootstrap-table.min.css">
    <script th:src="@{/webjars/jquery/3.5.1/dist/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js}"></script>
    <script src="../jss/bootstrap/js/bootstrap-table.min.js"></script>
    <script src="../jss/bootstrap/js/bootstrap-table-zh-CN.min.js"></script>
</head>
<body>
<div class="pull-left">
    <div class="form-group form-inline">
        <div class="btn-group">
            <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" ><i class="fa fa-file-o"></i>添加</button>
            <button type="button" class="btn btn-default" title="删除" ><i class="fa fa-trash-o"></i>删除</button>
            <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i>刷新</button>
        </div>
    </div>

    <table class="table  table-hover">
        <thead>
        <tr>
            <th>职务ID</th>
            <th>职务名称</th>
            <th>职务描述</th>
            <th>职务状态</th>
            <th>添加时间</th>
            <th>删除</th>
            <th>修改</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="job : ${jobList}">
            <td th:text="${job.jobId}"></td>
            <td th:text="${job.jobName}"></td>
            <td th:text="${job.jobMemo}"></td>
            <td th:text="${job.jobDate}"></td>
            <td>
                <a th:href="@{/delete(id=${job.jobId})}">DELETE</a>
            </td>
            <td>
                <a th:href="@{/select(id=${job.jobId})}">UPDATE</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<div class="box-tools pull-right">
    <div class="has-feedback">
        名称：<input  id="name">
        <button class="btn btn-default" onclick="javascript:getSearch()">查询</button>
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h3 id="myModalLabel">添加用户</h3>
            </div>
            <div class="modal-body">
                <form method="post" id="ff">
                    <input name="jobId" id="jobId">
                    <table class="table table-bordered table-striped"  width="800px">
                        <tr>
                            <td>职务名称</td>
                            <td><input  class="form-control" placeholder="职务名称" name="jobName" id="jobName"></td>
                        </tr>
                        <tr>
                            <td>职务描述</td>
                            <td><input  class="form-control" placeholder="职务描述" name="jobMemo" id="jobMemo"></td>
                        </tr>
                        <tr>
                            <td>职务状态</td>
                            <td>
                                <input  type="radio"  name="jobStatus" value="1">ON
                                <input  type="radio"  name="jobStatus" value="2">OFF
                            </td>
                        </tr>
                        <tr>
                            <td>添加时间</td>
                            <td><input  type="text" placeholder="添加时间" name="jobDate" id="jobDate"></td>
                        </tr>

                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" onclick="javascript:getAdd()">保存</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" >关闭</button>
            </div>
        </div>
    </div>
</div>
<table id="job_table"></table>
</body>
<script type="text/javascript">
    $(function(){
        findPage();
    })
    function getSearch(){
        $("#job_table").bootstrapTable("refresh",{
            query:{
                jobName:$("#name").val(),
            }
        })
    }
    function findPage(){
        $("#job_table").bootstrapTable({
            url:"/findPage",
            columns:[
                {field:"chec",checkbox:true},
                {field:"jobId",title:"职务主键ID"},
                {field:"jobName",title:"职务名称"},
                {field:"jobMemo",title:"职务描述"},
                {field:"jobStatus",title:"职务状态",formatter:function(value,row,index){
                        var str="";
                        if(value=="1"){
                            str="<button type='button' class='btn bg-olive btn-xs' data-toggle='modal' data-target='#editModal'>ON</button>";
                        }else if(value=="2") {
                            str = "<button type='button' class='btn bg-olive btn-xs' data-toggle='modal' data-target='#editModal'>OFF</button>";
                        }
                        return str;
                }},
                {field:"jobDate",title:"添加时间"},
                {field:"zuo",title:"操作",formatter:function(value,row,index){
                        var str="";
                        str+="<button type='button' class='btn bg-olive btn-xs' onclick='javascript:getDelete("+row.jobId+")'>删除</button>";
                        str+="<button type='button' class='btn bg-olive btn-xs' data-toggle='modal' data-target='#editModal' onclick='javascript:getHuiXian("+row.jobId+")'>修改</button>";
                        return str;
                }}
            ],
            pagination:true,
            pageSize:2,
            pageList:[2,4,6,8,10]
        })
    }
    function getHuiXian(jobId){
        alert(jobId);
        $.ajax({
            url:"/getHui",
            type:"post",
            data:{jobId:jobId},
            dataType:"json",
            success:function(data){
                console.log(data)
                $("#jobId").val(data.jobId);
                $("#jobName").val(data.jobName);
                $("#jobMemo").val(data.jobMemo);
                $("#jobStatus").val(data.jobStatus);
                $("#jobDate").val(data.jobDate);
            }
        })
    }
    function getDelete(jobId){
        alert(jobId);
        $.ajax({
            url:"/del",
            type:"post",
            data:{jobId:jobId},
            dataType:"json",
            success:function(){
                alert("删除成功");
                $("#job_table").bootstrapTable("refresh");
            }
        })
    }
    function getAdd(){
        $.ajax({
            url:"/insert",
            type:"post",
            data:$("#ff").serialize(),
            success:function(){
                alert("成功")
                $("#user_table").bootstrapTable("refresh");
            }
        })
    }
</script>
</html>