<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>用户管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap.css}">
    <script th:src="@{/webjars/jquery/3.5.1/dist/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <h1>职务权限</h1>
    <div class="text-left">
        <a class="btn btn-info" th:href="@{toAdd}">Add</a>
    </div>
    <table  class="table  table-hover">
        <thead>
        <tr>
            <th>职务ID</th>
            <th>职务名称</th>
            <th>职务描述</th>
            <th>职务状态</th>
            <th>添加时间</th>
            <th>删除</th>
            <th>修改</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="job : ${jobList}">
            <td th:text="${job.jobId}"></td>
            <td th:text="${job.jobName}"></td>
            <td th:text="${job.jobMemo}"></td>
            <td th:text="${job.jobDate}"></td>
            <td>
                <a th:href="@{/delete(id=${job.jobId})}">DELETE</a>
            </td>
            <td>
                <a th:href="@{/select(id=${job.jobId})}">UPDATE</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>