<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>淦用户管理页面</title>
    <link rel="stylesheet" href="/jss/bootstrap/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="/jss/bootstrap/css/bootstrap.min.css">

    <script type="text/javascript" src="/jss/jquery.min.js"></script>
    <script type="text/javascript" src="/jss/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/jss/bootstrap/js/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/jss/bootstrap/js/bootstrap-table-zh-CN.min.js"></script>
</head>
<body>
<div class="pull-left">
    <div class="form-group form-inline">
        <div class="btn-group">
            <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" ><i class="fa fa-file-o"></i> 新建</button>
            <button type="button" class="btn btn-default" title="删除" ><i class="fa fa-trash-o"></i> 删除</button>
            <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
        </div>
    </div>
</div>
<div class="box-tools pull-right">
    <div class="has-feedback">
        名称：<input  id="name">
        <button class="btn btn-default" onclick="javascript:cha()">查询</button>

    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h3 id="myModalLabel">品牌编辑</h3>
            </div>
            <div class="modal-body">
                <form method="post" id="ff">
                    <input type="hidden" name="activityId" id="bid">
                    <table class="table table-bordered table-striped"  width="800px">
                        <tr>
                            <td>活动名称</td>
                            <td><input  class="form-control" placeholder="活动名称" name="activityName" id="qname">  </td>
                        </tr>
                        <tr>
                            <td>活动类型</td>
                            <td><!--<input  class="form-control" placeholder="活动类型" name="activityType" id="servicefee">-->
                              <select name="activityType">
                                  <option value="0">请选择</option>
                                  <option value="1">市场活动</option>
                                  <option value="2">科室会</option>
                                  <option value="3">圆桌会</option>
                                  <option value="4">城市会</option>
                              </select>
                            </td>
                        </tr>
                        <tr>
                            <td>产品组</td>
                            <td><!--<input  class="form-control" placeholder="产品组" name="divisionId" id="quantity">-->
                                <input  type="radio"  name="divisionId" value="1">CV
                                <input  type="radio"  name="divisionId" value="2">DIA
                                <input  type="radio"  name="divisionId" value="3">社区
                            </td>
                        </tr><tr>
                            <td>部门</td>
                            <td>
                                <input  type="radio"  name="departmentId" value="1">市场部
                                <input  type="radio"  name="departmentId" value="2">销售部
                                <input  type="radio"  name="departmentId" value="3">市场部
                                <!--<input  class="form-control" placeholder="部门" name="departmentId" id="departmentId">-->  </td>
                        </tr>

                      <!--  <tr>
                              <td>开始时间</td>
                              <td><input  type="date" placeholder="开始时间" name="startTime" id="startTime">
                              </td>
                          </tr>-->
                       <!-- <tr>
                              <td>结束时间</td>
                              <td><input  type="date" placeholder="结束时间" name="endTime" id="endTime">
                              </td>
                          </tr>-->
                        <tr>
                            <td>状态</td>
                            <td><input  type="radio"  name="status" value="1">未开始
                                <input  type="radio"  name="status" value="2">进行中
                                <input  type="radio"  name="status" value="3">已结束</td>
                        </tr>

                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" onclick="javascript:add()">保存</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" >关闭</button>
            </div>
        </div>
    </div>
</div>

<table class="table" id="myTable"></table>
</body>
<script type="text/javascript">
    $(function(){
        initTable()
    })
    function cha(){
        $("#myTable").bootstrapTable("refresh",{
            query:{
                name:$("#name").val(),
            }
        })
    }
    function initTable() {
        $("#myTable").bootstrapTable({
            url:"/act/find",
            columns: [
                {checkbox: true},
                {field: 'activityId', title: 'ID', align: 'center', width: 150},
                {field: 'activityName', title: '活动名称', align: 'center', width: 150},
                {field: 'activityType', title: '活动类型', align: 'center', width: 150,formatter:function(value,rows,index){
                        var str="";
                        if(value==1){
                            str+="市场活动";
                        }
                        if(value==2){
                            str+="科室会";
                        }
                        if(value==3){
                            str+="圆桌会";
                        }if(value==4){
                            str+="城市会";
                        }
                        return str;
                    }},
                {field: 'divisionId', title: '产品组', align: 'center', width: 150,formatter:function(value,rows,index){
                        var str="";
                        if(value==1){
                            str+="CV";
                        }
                        if(value==2){
                            str+="DIA";
                        }
                        if(value==3){
                            str+="社区";
                        }
                        return str;
                    }},
                {field: 'departmentId', title: '部门', align: 'center', width: 150,formatter:function(value,rows,index){
                        var str="";
                        if(value==1){
                            str+="市场部";
                        }
                        if(value==2){
                            str+="销售部";
                        }
                        if(value==3){
                            str+="市场部";
                        }
                        return str;
                    }},
                {field: 'startTime', title: '开始时间', align: 'center', width: 150},
                {field: 'endTime', title: '结束时间', align: 'center', width: 150},
                {field: 'status', title: '状态', align: 'center', width: 150,formatter:function(value,rows,index){
                        var str="";
                        if(value==1){
                            str+="未开始";
                        }
                        if(value==2){
                            str+="进行中";
                        }
                        if(value==3){
                            str+="已结束";
                        }
                        return str;
                    }},
                {field: 'tool', title: '操作', align: 'center', width: 150,
                    formatter:function(value,rows,index){
                        var str="";
                        str+="<a href='javascript:deletePatientById("+rows.activityId+")'>删除&nbsp;&nbsp;</a>";
                        str+="<button type='button' class='btn bg-olive btn-xs' data-toggle='modal' data-target='#editModal' onclick='javascript:xiugai("+rows.activityId+")'>修改</button>";
                        return str;
                    }
                },
            ],
            /*  pagination:true,
              pageSize:2,
              pageList:[2,4,6],*/
        });
    }
    function deletePatientById(activityId){
        $.ajax({
            url:"/act/delete",
            data:{id:activityId},
            type:"post",
            success:function(){
                $("#myTable").bootstrapTable("refresh");
            }
        })
    }
    function xiugai(activityId){
        alert(activityId)
        $.ajax({
            url:"/act/huixian",
            type:"post",
            data:{id:activityId},
            success:function(data){
                console.log(data)
                $("#bid").val(data.activityId);
                $("#qname").val(data.activityName);
                $("#servicefee").val(data.activityType);
                $("#quantity").val(data.divisionId);
                $("#departmentId").val(data.departmentId);
                $("#startTime").val(data.startTime);
                $("#endTime").val(data.endTime);

            }

        })
    }
    function add(){
        $.ajax({
            url:"/act/add",
            type:"post",
            data:$("#ff").serialize(),
            success:function(){
                alert("成功")
                $("#myTable").bootstrapTable("refresh");
            }
        })
    }
</script>
</html>