<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.jk.entity.UserEntity">
        <id column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="user_code" property="userCode" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_num" property="userNum" jdbcType="INTEGER"/>
        <result column="user_pro" property="userPro" jdbcType="VARCHAR"/>
        <result column="user_dep" property="userDep" jdbcType="VARCHAR"/>
        <result column="user_emp" property="userEmp" jdbcType="VARCHAR"/>
        <result column="user_date" property="userDate" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="find" resultMap="BaseResultMap">
        select * from tb_user
    </select>
    <delete id="delete">
        delete from tb_user where user_id=#{userId}
    </delete>
    <insert id="insert" parameterType="com.jk.entity.UserEntity">
        insert into tb_user
        values(#{userId},#{userCode},#{userName},#{userNum},#{userPro},#{userDep},#{userEmp},#{userDate})
    </insert>
    <select id="selectId" resultMap="BaseResultMap">
        select * from tb_user where user_id=#{userId}
    </select>
    <update id="update" parameterType="com.jk.entity.UserEntity">
        update tb_user set
        user_code=#{userCode},user_name=#{userName},user_num=#{userNum},user_pro=#{userPro},user_dep=#{userDep},user_emp=#{userEmp},user_date=#{userDate}
        where user_id=#{userId}
    </update>
</mapper>